.mission {
    width: 100%;
    padding: 3rem 0;
    background: rgba(46, 111, 137, 0.25);
}

.mission .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    padding: 0 1rem;
}

.mission-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;

}

.mission .box {
    display: flex;
    max-width: 310px;
    align-items: center;
    margin: auto;

}

.left p {
    font-size: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
    
}


.promo {
    width: 100%;
    margin: 0.4rem 0;
    margin-bottom: 4rem;
    border: none;
    text-align: center;
    
}

.promo h4 {
    font-size: 1.6rem;
    color: var(--primary-dark);

}

.promo .time {
    padding: 1rem 0;
    font-size: 1.4rem;
    
}

.promo .offers {
    background: #333;
    color: #f5f5f5;
    padding: 0.4rem 0;

}

.mission form {
    display: flex;
    flex-direction: column;
    
}

.sign_buttons {
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    
}

.mission input, select {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    outline: none;
}

.mission .date {
    display: flex;

}

.mission button {
    margin: 0.4rem;
}


@media screen and (max-width: 940px) {
    .mission .container {
        grid-template-columns: 1fr;
    }

    .mission-col-2 {
        grid-template-columns: 1fr;
    }

    .mission .right {
        max-width: 100%;
    }

    .mission form {
        width: 100%;
    }

    .mission .date {
        flex-direction: column;
    }
}